@import "../../assets/scss/_variables";
@import "../../assets/scss/animate-sass-master/animate";

.wrapper-scheda {
  max-width: 770px;
  display: flex;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: space-around;

  span {
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
  }

  .data-box {
    flex-basis: 360px;
    position: relative;
    padding: 20px;
  }
  .box-image {
    flex-basis: 400px;
  }
  .materiali {
    ul{
      li{
        margin: 0;
      }
    }
  }
  .size-color {
    position: relative;
    right: 0;
    // padding: 22px 18px;
    //box-shadow: 0px 0px 3px #00000026;
    //border-top: 2px solid gray;
    background: white;

    span {
      display: block;
      margin-bottom: 10px;
    }

    ul {
      display: flex;
      align-items: center;

      &.size {
        margin-bottom: 1rem;
        li.taglia-unica {
          font-size: 8px;
        }
      }

      &.color {
        li {
          outline: 0;
          width: 25px;
          height: 25px;
          border: 3px solid #ffffff;
          position: relative;
          &.selected {
            outline: 3px solid #000000;
          }
          .colore-tooltip {
            position: absolute;
            background-color: black;
            color: white;
            font-size: 12px;
            padding: 6px 5px;
            line-height: 1;
            height: 25px;
            opacity: 0;
            transition: all ease-in-out 0.5s;
            top: -20px;
            &::after {
              content: "▼";
              position: relative;
              display: block;
              top: 3px;
              left: -7px;
              color: black;
            }
            &.open{
              opacity: 1;
              top: -27px;
            }
          }
        }
      }

      li {
        margin: 0 0.4rem;
        padding: 0rem;
        width: 31px;
        height: 31px;
        background-color: #fafafa;
        border-radius: 50%;
        text-align: center;
        line-height: 29px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;

        &.selected {
          background-color: #000000;
          color: white;
        }
      }
    }
  }

  .title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .description {
    margin: 10px 0;
    font-size: 0.9rem;
    line-height: 26px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #b2b2b2;
  }

  .price {
    font-size: 1.5rem;
  }

  .rating {
    margin-top:10px;
  }

  .quantity {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    display: block;
    margin: 1rem 0 0 auto;
    width: 150px;

    span {
      display: block;
      text-align: right;
      font-size: 0.9rem;
      font-weight: bold;
      line-height: 38px;
    }

    .add-to-cart {
      span {
        display: inline-block;
        text-align: center;
      }
    }

    .add-to-cart-scheda {
      margin-top: 0;
      text-align: left;

      span {
        text-align: center;
      }
    }
  }

  .add-to-cart-scheda {
    border-top: 1px dotted rgb(221, 221, 221);
    margin-top: 1rem;

    .add-cart {
      padding: 1rem 0;
    }
  }

  .specifiche {
    margin-top: 1rem;

    span {
      display: block;
      text-align: right;
      font-size: 0.9rem;
    }

    ul {
      text-align: right;

      li {
        font-size: 0.9rem;
      }
    }
  }
}
