@import "@fontsource/poppins/100.css";
@import "@fontsource/poppins/200.css";
@import "@fontsource/poppins/400.css"; 
@import "@fontsource/open-sans/300.css";
@import "@fontsource/open-sans/400.css";
@import "@fontsource/open-sans/700.css";

$phone: "only screen and (max-width : 460px)";
$tablet: "only screen and (max-width : 720px)";
$landscape: "only screen and (max-width : 1024px)";
$desktop: "only screen and (max-width : 1200px)";
$large: "only screen and (max-width: 1340px)";
$wide: "only screen and (max-width : 1620px)";
$big: "only screen and (max-width : 1900px)";

$text: "open sans", sans-serif;
$link: "open sans", sans-serif;
$title: "poppins", sans-serif;

/* colori */
$ui-light-gray: #f6f6f6;
$ui-gray: #d5d5d5;
$ui-dark-gray: #2e2e2e;
$ui-black: #181717;




body{
    font-size: 100%;
    font-family: $text;
}